.filter-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  font-family: --mat-sys-title-large-font;

  // input[type="text"] {
  //   flex: 1 1 0;
  //   height: 48px;
  //   font-size: 1.1rem;
  //   padding: 0 1rem;
  //   border-radius: 24px;
  //   border: 1px solid #ccc;
  // }

  .filter-input {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    height: 48px;
    font-size: 1.1rem;
    padding: 0 1rem;
    border-radius: 24px;

    input[type="text"] {
      outline: 1px solid #ccc;
    }
  }

  button {
    height: 48px;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: 40px;
    border: none;
    padding: 0 32px;
    font-weight: 600;
    background: #1976d2;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
  }

  button:hover {
    background: #1565c0;
  }
}
