.list-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 88dvh;
  margin: 0 auto;
  align-items: center;
}

.list-filter {
  height: 80px;
  width: 100%;
}

.list-contacts {
  width: 100%;
  height: auto;
  padding-inline: 20px;
  padding-bottom: 10px;
  margin-bottom: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scrollbar-color: #171D25 transparent;
  scrollbar-width: thin;
  gap: 8px;
}
