.list-container {
  display: flex;
  flex-direction: column;  
  width: 90%;
  height: 90vh;  
  margin: 0 auto;
  align-items: center;
}

.list-filter {
  height: 10%;
  width: 90%;
  background-color: aqua;
}

.list-contacts {
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; 
  scrollbar-color: #ffffff #aaaaaa; 
  scrollbar-width: thin;
}