.list-container {
  display: flex;
  flex-direction: column;  
  width: 80%;
  height: 92dvh;  
  margin: 0 auto;
  align-items: center;
}

.list-filter {
  height: 10%;
  width: 100%;
  
}

.list-contacts {  
  width: 100%;
  height: 90%;
  padding-right: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; 
  scrollbar-color: #818181 #ffffff; 
  scrollbar-width: thin;
  gap: 8px;
}