.contact-container {
  padding: 20px;
}

.contact-card {
  margin: 50;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16rem);
  position: relative;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  background-color: #16202d;

  .card-content {
    height: calc(100vh - 31.5rem);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  form {
    gap: 10px;
  }

  .card-actions {
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
    height: 4rem;
  }

  .mat-mdc-mini-fab {
    background-color: transparent;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-info-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.4rem 2.5rem;
}

.contact-info-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.formfield-ddi {
  width: 1vw;
  min-width: 75px;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.avatar {
  border-radius: 50% !important;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.no-avatar-color {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e7bee;
}

.letter-avatar {
  color: white;
  margin: 12px;
  font-size: 50px;
}

.w-full {
  width: 100%;
}

.photo-url {
  display: flex;
  flex-grow: 1;
}

.social-network {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 0rem;
}

.go-back-icon {
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
}

.go-back-icon-color {
  color: #ffffff;
}

.favorite-icon {
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}

.favorite-icon-color {
  color: #d32f2f;
}

.btn-whatsapp {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  color: green;
}

.btns-social-network {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.btns-editing-creating {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.btns-viewing {
  display: flex;
  justify-content: space-between;
}

.btn-delete {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.btn-delete-color {
  color: #d32f2f;
}

.btn-delete-confirming-color {
  color: #f44336;
}

.social-icons-view {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.contact-not-found {
  display: flex;
  text-align: center;
  font-size: large;
  padding: 10rem;
  margin: 5rem;
  color: #d32f2f;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(191, 224, 247, 0.533);
}

.icon-social-network {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.save-button {
  color: #1976d2;
}

button[disabled] .save-button {
  color: #575757;
}

.contact-not-found {
  font-size: 3rem;
}
