.contact-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  cursor: pointer;
}

.mat-mdc-card {
  box-shadow: none;
  border-radius: 0;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 8px;
}

.mat-mdc-card:hover {
  opacity: 0.8;
}

.mat-mdc-card-header {
  width: 300px;
}

.contact-phone {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 10px;
}

.mat-mdc-card-avatar {
  margin: 0;
}

.mat-mdc-card-actions {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.mdc-fab {
  background: none;
  box-shadow: none;
}

.national-flag {
  width: 32px;
  height: 32px;
}

.mat-divider {
  border-color: #cfcfcfe0;
}

.no-avatar {
  display: flex;
  justify-content: center;
  align-items: centerr;
  background-color: #3e7bee;

}

.letter-avatar {
  color: white;
  margin: 12px;
}
