<mat-card class="contact-container">
  <mat-card-header>
    <img *ngIf="contactItem.photo; else noAvatar" mat-card-avatar src="{{contactItem.photo}}" alt="contact photo">
    <ng-template #noAvatar>
      <div mat-card-avatar class="no-avatar">
        <span class="letter-avatar">
          {{contactItem.name.charAt(0)}}
        </span>
      </div>
    </ng-template>
    <mat-card-title>{{contactItem.name}}</mat-card-title>
    <mat-card-subtitle subtitle-text-size>{{contactItem.notes}}</mat-card-subtitle>
  </mat-card-header>
  <div *ngIf="contactItem.phone; else showEmail" class="main-contact">
    <img mat-card-avatar class="national-flag" src="https://cdn-icons-png.flaticon.com/512/3909/3909370.png"
      alt="Phone icon" matTooltip="{{contactItem.ddi}}">
    <mat-card-subtitle subtitle-text-size>{{contactItem.phone}}</mat-card-subtitle>
  </div>
  <ng-template #showEmail>
    <div class="main-contact">
      <mat-icon>email</mat-icon>
      <mat-card-subtitle subtitle-text-size>{{contactItem.email}}</mat-card-subtitle>
    </div>
  </ng-template>
  <div class="social-network-container">
    <div class="social-network-content">
      <div *ngFor="let icon of contactItem.socialNetworks | slice:0:6" (click)="openSocialNetwork(icon.url, $event)"
        matTooltip="{{icon.url}}">
        <img class="social-network-icon" [src]="getIcon(icon.type)">
      </div>
    </div>
    <div class="fav-button-toogle" (click)="toggleFav($event)">
      <mat-icon style=" padding-left: 20px;" [class]="contactItem.fav ?'favorite-icon-color' : ''
                  ">
        {{contactItem.fav ? "favorite": "favorite_border"}}
      </mat-icon>
    </div>

    <mat-card-actions>
      <button matMiniFab (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit(contactItem.id, $event)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="delete(contactItem.id, $event)">
          <mat-icon>delete_outline</mat-icon>
          <span>Deletar</span>
        </button>
      </mat-menu>
    </mat-card-actions>
  </div>

</mat-card>